body {
  font-family: sans-serif;
}

#protocol, #consultations {
  width: 50%
}

#protocol {
  float: left;
}

#consultations {
  float: right;
}

h1 {
  text-align: center;
}

li.top, li.consulation_bill {
  border: solid black 1px;
  border-bottom: none;
  list-style-type: none;
  padding: 10px;

}

li.top {
  text-indent: -18px;
  padding-left: 28px;
}

li.link {
  list-style-type: none;
}

li.link:before {
  content: "\1f517 ";
}

li.top:last-of-type, li.consulation_bill:last-of-type {
  border-bottom: solid black 1px;
}

.top > ul {
  text-indent: 0px;
}

ul#consultations-list {
  list-style-type: none;
}

.start_date {
  float: left;
}

.end_date {
  text-align: right;
}

.top .nr {
  font-weight: bold;
}
