* {-webkit-font-smoothing: subpixel-antialiased;}

body {
  font-family: DejaVu Sans, sans-serif;
}

/* mobile first */
@media only screen and (min-width: 750px) {
  #protocol, #consultations {
    width: 50%
  }

  #protocol {
    float: left;
  }

  #consultations {
    float: right;
  }
}

ol, ul {
  margin: 16px;
  padding: 0px;
}

h1 {
  text-align: center;
  font-variant: small-caps;
}

h2, h3, p, li {
  text-align: justify;
  overflow-wrap: break-word;
  font-size: 12pt;
  font-weight: 100;
}

h2 {
  font-weight: normal;
}

span.top.nr {
  font-weight: normal;
}

li.top, li.consulation_bill {
  border: solid black 1px;
  border-bottom: none;
  list-style-type: none;
  padding: 10px;

}

li.link {
  list-style-type: none;
}

a:before {
  content: "\1f517\00A0";
}

li.top:last-of-type, li.consulation_bill:last-of-type {
  border-bottom: solid black 1px;
}

.top > ul {
  text-indent: 0px;
}

ul#consultations-list {
  list-style-type: none;
}

time {
  font-weight: normal;
}

.start_date {
  float: left;
}

.end_date {
  text-align: right;
}
